html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* START STYLES */

html {
	height: 100vh;
}
body {
	height: 100%;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}
.page {
	text-align: left;
}

/* Sizing */
#app {
	display: inline-block;
	padding: 1em 2em;
	width: calc(100% - 4em);
}
.time-entry {
	display: grid;
	grid-template-columns: 2em minmax(5.5em, 2.25fr) minmax(6.5em, 3.25fr) minmax(10em, 5fr);
	grid-template-areas:
		"x sl el tl"
		"x s  e  t "
		"x dl .  . "
		"x d  d  d ";
	margin-bottom: 1em;
}
.timesheet header {
	visibility: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.time-start-label {
	grid-area: sl;
}
.time-end-label {
	grid-area: el;
}
.ticket-id-label {
	grid-area: tl;
}
.details-label {
	grid-area: dl;
}
@media screen and (min-width: 754px) {
	#app {
		width: 754px;
		max-width: 754px;
	}
	.time-entry {
		grid-template-columns: 2em 5.5em 6.5em 10em 1fr;
		grid-template-areas:
			"x s e t d"
	}
	.time-entry > input:nth-child(n+4), .time-entry > textarea {
		margin-left: 1em;
	}
	.time-start-label, .time-end-label, .ticket-id-label, .details-label {
		visibility: hidden;
		position: absolute;
		top: -9999px;
		lefT: -9999px;
	}
	.timesheet header {
		padding: 0 0.5em 0.75em 0.5em;
		visibility: visible;
		position: initial;
		top: initial;
		left: initial;
		display: grid;
		grid-template-columns: 5.5em 6.5em 10em 1fr;
	}
	.timesheet header > *:nth-child(n+2) {
		margin-left: 1em;
	}
}

/* Controls */

label {
	padding: 0.5em;
	color: #777777;
}
textarea {
	resize: none;
}
input, textarea, button {
	-moz-appearance: none;
	-webkit-appearance: none;
	font-size: 1rem;
	line-height: 1.5em;
	height: 2.625em;
	padding: 0.5em;
	margin: 0;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
input, textarea {
	vertical-align: top;
	border: 1px solid transparent;
	transition: border 0.2s ease-in-out;
}
input:hover, input:focus, textarea:hover, textarea:focus {
	border-color: #999999;
}
input:not(:valid), textarea:not(:valid) {
	border-color: red;
}
button {
	background-color: white;
	border: 1px dotted #999999;
	margin: 1em 0;
	width: 100%;
}
button:disabled {
	color: #999999;
	cursor: not-allowed;
}
button:not(:disabled):hover {
	color: #2c3e50;
	cursor: pointer;
	border-color: #2c3e50;
}
.gray {
	color: #999999;
}
.uppercase {
	text-transform: uppercase;
}
button.remove-time-entry {
	grid-area: x;
	margin: 0;
	width: 2em;
	height: 100%;
  background-color: red;
  color: white;
  border: 1px solid red;
	opacity: 0;
	visibility: hidden;
  transition: visibility, opacity 0.2s ease-in-out;
}
.time-entry:hover > button.remove-time-entry, .time-entry:focus > button.remove-time-entry {
	color: white;
	opacity: 1;
	visibility: visible;
	border-color: red;
}
.time-start {
	grid-area: s;
}
.time-end {
	grid-area: e;
}
.ticket-id {
	grid-area: t;
}
.details {
	grid-area: d;
}
.timesheet footer {
  padding: 0 0.5em;
}
.title {
  font-weight: bold;
  display: inline-block;
  font-size: 1.1em;
}
.timesheet section.time-entries {
  margin-left: -2em;
}
p.no_data {
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #999999;
}
button.update-timelogs {
  background-color: hsl(134, 61%, 41%);
  color: white;
  border: 1px solid hsl(134, 61%, 41%);
}
button.update-timelogs:not(:disabled):hover {
  color: white;
  border-color: hsl(134, 61%, 36%);
  background-color: hsl(134, 61%, 36%);
}
button.update-timelogs:disabled {
  color: #999999;
  background-color: hsl(134, 61%, 60%);
  border-color: hsl(134, 61%, 60%);
}
