html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* START STYLES */

html {
	height: 100vh;
}
body {
	height: 100%;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

/* Sizing */
#app {
	display: inline-block;
	padding: 1em 2em;
	width: calc(100% - 4em);
}
.time-entry {
	display: grid;
	grid-template-columns: 2em minmax(5.5em, 2.25fr) minmax(6.5em, 3.25fr) minmax(10em, 5fr); /* 2em 5.5em 6.5em 10em; */
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"x s e t"
		"x d d d";
}
@media screen and (min-width: 754px) {
	#app {
		width: 754;
		max-width: 754;
		/* width: 874px;
		max-width: 874px; */
	}
	.time-entry {
		grid-template-columns: 2em 5.5em 6.5em 10em 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
			"x s e t d"
	}
	.time-entry > *:nth-child(n+3) {
		margin-left: 1em;
	}
}

/* Controls */

textarea {
	resize: none;
}
input, textarea, button {
	-moz-appearance: none;
	-webkit-appearance: none;
	font-size: 1rem;
	line-height: 1.5em;
	height: 2.625em;
	padding: 0.5em;
	margin: 0;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
input, textarea {
	vertical-align: top;
	border: 1px solid transparent;
	transition: border 0.2s ease-in-out;
}
input:hover, input:focus, textarea:hover, textarea:focus {
	border-color: #999999;
}
input:not(:valid), textarea:not(:valid) {
	border-color: red;
}
button {
	background-color: white;
	border: 1px dotted #999999;
	margin: 1em 0;
	width: 100%;
}
button:disabled {
	color: #999999;
	cursor: not-allowed;
}
button:not(:disabled):hover {
	color: #2c3e50;
	cursor: pointer;
	border-color: #2c3e50;
}
.gray {
	color: #999999;
}
.uppercase {
	text-transform: uppercase;
}
button.remove-time-entry {
	grid-area: x;
	margin: 0;
	width: 2em;
	height: 100%;
  background-color: red;
  color: white;
  border: 1px solid red;
	opacity: 0;
  transition: visibility, opacity 0.2s ease-in-out;
}
.time-entry:hover > button.remove-time-entry, .time-entry:focus > button.remove-time-entry {
	color: white;
	opacity: 1;
	display: inline-block;
	border-color: red;
}
.time-start {
	grid-area: s;
}
.time-end {
	grid-area: e;
}
.ticket-id {
	grid-area: t;
}
.details {
	grid-area: d;
}
